Backend-main/TestLogin/TestLogin_Host/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62195/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62195/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62195/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestLogin.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_FelhasznaloLista_InputMessage">
    <wsdl:part name="parameters" element="tns:FelhasznaloLista" />
  </wsdl:message>
  <wsdl:message name="IService1_FelhasznaloLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:FelhasznaloListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UjFelhasznalo_InputMessage">
    <wsdl:part name="parameters" element="tns:UjFelhasznalo" />
  </wsdl:message>
  <wsdl:message name="IService1_UjFelhasznalo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UjFelhasznaloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModositFelhasznalo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModositFelhasznalo" />
  </wsdl:message>
  <wsdl:message name="IService1_ModositFelhasznalo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModositFelhasznaloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TorolFelhasznalo_InputMessage">
    <wsdl:part name="parameters" element="tns:TorolFelhasznalo" />
  </wsdl:message>
  <wsdl:message name="IService1_TorolFelhasznalo_OutputMessage">
    <wsdl:part name="parameters" element="tns:TorolFelhasznaloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_JogosultsagLista_InputMessage">
    <wsdl:part name="parameters" element="tns:JogosultsagLista" />
  </wsdl:message>
  <wsdl:message name="IService1_JogosultsagLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:JogosultsagListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UjJogosultsag_InputMessage">
    <wsdl:part name="parameters" element="tns:UjJogosultsag" />
  </wsdl:message>
  <wsdl:message name="IService1_UjJogosultsag_OutputMessage">
    <wsdl:part name="parameters" element="tns:UjJogosultsagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModositJogosultsag_InputMessage">
    <wsdl:part name="parameters" element="tns:ModositJogosultsag" />
  </wsdl:message>
  <wsdl:message name="IService1_ModositJogosultsag_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModositJogosultsagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TorolJogosultsag_InputMessage">
    <wsdl:part name="parameters" element="tns:TorolJogosultsag" />
  </wsdl:message>
  <wsdl:message name="IService1_TorolJogosultsag_OutputMessage">
    <wsdl:part name="parameters" element="tns:TorolJogosultsagResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="FelhasznaloLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IFelhasznalo/FelhasznaloLista" message="tns:IService1_FelhasznaloLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFelhasznalo/FelhasznaloListaResponse" message="tns:IService1_FelhasznaloLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UjFelhasznalo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFelhasznalo/UjFelhasznalo" message="tns:IService1_UjFelhasznalo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFelhasznalo/UjFelhasznaloResponse" message="tns:IService1_UjFelhasznalo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModositFelhasznalo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFelhasznalo/ModositFelhasznalo" message="tns:IService1_ModositFelhasznalo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFelhasznalo/ModositFelhasznaloResponse" message="tns:IService1_ModositFelhasznalo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TorolFelhasznalo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFelhasznalo/TorolFelhasznalo" message="tns:IService1_TorolFelhasznalo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFelhasznalo/TorolFelhasznaloResponse" message="tns:IService1_TorolFelhasznalo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JogosultsagLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogosultsag/JogosultsagLista" message="tns:IService1_JogosultsagLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogosultsag/JogosultsagListaResponse" message="tns:IService1_JogosultsagLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UjJogosultsag">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogosultsag/UjJogosultsag" message="tns:IService1_UjJogosultsag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogosultsag/UjJogosultsagResponse" message="tns:IService1_UjJogosultsag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModositJogosultsag">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogosultsag/ModositJogosultsag" message="tns:IService1_ModositJogosultsag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogosultsag/ModositJogosultsagResponse" message="tns:IService1_ModositJogosultsag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TorolJogosultsag">
      <wsdl:input wsaw:Action="http://tempuri.org/IJogosultsag/TorolJogosultsag" message="tns:IService1_TorolJogosultsag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJogosultsag/TorolJogosultsagResponse" message="tns:IService1_TorolJogosultsag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>