Backend-main/TestLogin/TestLogin_Host/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62195/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestLogin.Models" />
  <xs:element name="FelhasznaloLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestLogin.Models" minOccurs="0" name="FelhasznaloListaResult" nillable="true" type="q1:ArrayOfFelhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UjFelhasznalo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestLogin.Models" minOccurs="0" name="felhasznalo" nillable="true" type="q2:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UjFelhasznaloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UjFelhasznaloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModositFelhasznalo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TestLogin.Models" minOccurs="0" name="felhasznalo" nillable="true" type="q3:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModositFelhasznaloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModositFelhasznaloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TorolFelhasznalo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TorolFelhasznaloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TorolFelhasznaloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JogosultsagListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TestLogin.Models" minOccurs="0" name="JogosultsagListaResult" nillable="true" type="q4:ArrayOfJogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UjJogosultsag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TestLogin.Models" minOccurs="0" name="jogosultsag" nillable="true" type="q5:Jogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UjJogosultsagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UjJogosultsagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModositJogosultsag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TestLogin.Models" minOccurs="0" name="jogosultsag" nillable="true" type="q6:Jogosultsag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModositJogosultsagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModositJogosultsagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TorolJogosultsag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TorolJogosultsagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TorolJogosultsagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>